﻿@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../files/fonts/glyphicons-halflings-regular.eot');
  src: url('../files/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
   url('../files/fonts/glyphicons-halflings-regular.woff') format('woff'),
   url('../files/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
   url('../files/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
