body {
    font-family: Arial, Verdana, Helvetica, Sans-Serif !important;
    color: #363636;
    background-color: #fff;
    border:0;
    margin:0;
    overflow-x: hidden!important;
}
.center-block{text-align:center;}
#header{display:block;padding:35px 0 30px 0;}
#barra-player{display:block;background:url(../img/bg-barra-player.png);overflow:hidden;width:100%;}
#contato-top{margin:20px 0 0 0;}
#social-top{margin:10px 0 0 0;}
@media (min-width: 992px) and (max-width: 1199px)
{
	#contato-top{margin:0;}
}
@media (max-width: 991px)
{
	#contato-top{text-align:center;margin:30px 0;}
	#logo-mais-top{text-align:center;}
}
.BarraFixa{position:fixed;left:0;width:100%;height:15px;text-align:center;background:url(../img/sombra.png) repeat-x;top:0;z-index:100;display:none;top:70px;}
#barra-player .play-pause{display:inline-block;overflow:hidden;background:url(../img/ico-play-pause.png) no-repeat;width:28px;height:27px;margin:20px 0 0 0;}
#barra-player .separador-player{background:url(../img/separador-player.png) repeat-y right top;height:70px;}
#barra-player .musica-atual{color:#989898;}
#barra-player .musica-atual .no-ar{float:left;font-weight:bold;color:#fff;height:70px;line-height:70px;margin:0 5px 0 0;}
#musica{float:left;height:70px;line-height:70px}
#barra-player .curtir-musica{color:#989898;font-size:11px;}
#barra-player .txt-curtiu{float:left;margin:25px 7px 0 0;}
#barra-player a.ico-curtir-musica{float:right;width:51px;height:47px;background:url(../img/ico-curtir.png) no-repeat;overflow:hidden;margin:10px 7px 0 0;}
#barra-player a.ico-nao-curtir-musica{float:left;width:51px;height:47px;background:url(../img/ico-nao-curtir.png) no-repeat;overflow:hidden;margin:10px 0 0 0;}
#banner-principal{display:block;overflow:hidden;text-align:center;padding:50px 0 0 0;}
.banner-principal-img{margin:auto;}
.box-laranja{display:block;overflow:hidden;padding:10px;border-top:solid 2px #e58920;border-right:solid 1px #d6d6d6;border-bottom:solid 1px #d6d6d6;border-left:solid 1px #d6d6d6;}
.ico-mais-laranja{display:inline-block;overflow:hidden;background:url(../img/ico-mais-laranja.png) no-repeat;width:26px;height:25px;}
.box-azul{display:block;overflow:hidden;padding:10px;border-top:solid 2px #475995;border-right:solid 1px #d6d6d6;border-bottom:solid 1px #d6d6d6;border-left:solid 1px #d6d6d6;}
.ico-mais-azul{display:inline-block;overflow:hidden;background:url(../img/ico-mais-azul.png) no-repeat;width:26px;height:25px;}
.box-cinza{display:block;overflow:hidden;padding:10px;border-top:solid 2px #363636;border-right:solid 1px #d6d6d6;border-bottom:solid 1px #d6d6d6;border-left:solid 1px #d6d6d6;margin:26px 0 0 0;}
.ico-mais-cinza{display:inline-block;overflow:hidden;background:url(../img/ico-mais-cinza.png) no-repeat;width:26px;height:25px;}
.ico-mais-roxo{display:inline-block;overflow:hidden;background:url(../img/ico-mais-roxo.png) no-repeat;width:26px;height:25px;}
#conteudo{display:block;padding:45px 0;}
#programas{display:block;overflow:hidden;background:#fafafa;padding:45px 0;}
.img-prog{float:left;margin:0 20px 0 0;}
.titulo-prog{display:block;font:bold 14px Arial;color:#363636;}
.horario-prog{display:block;font:normal 14px Arial;color:#e58920;}
.descricao-prog{display:block;font:normal 14px Arial;color:#363636;}
.box-prog{display:block;overflow:hidden;margin:28px 0 0 0;}
.prog-completa{display:block;overflow:hidden;background:white;text-align:center;padding:30px;}
#top-artistas{display:block;padding:55px 0 85px 0;}
#footer{display:block;padding:30px 0 50px 0;background:#fafafa;}
.tel-cabecalho{display:inline-block;overflow:hidden;padding:0 0 0 30px;background:url(../img/ico-tel.png) no-repeat;line-height:24px;font-size:14px;}
.mail-cabecalho{display:inline-block;overflow:hidden;padding:0 0 0 30px;background:url(../img/ico-mail.png) no-repeat;line-height:24px;font-size:14px;}
.share-facebook{background-image: url(../img/ico-facebook.png);cursor:pointer;display:inline-block;height:33px;margin:0 5px 2px 0;vertical-align:middle;width:33px;}
.share-twitter{background-image:url(../img/ico-twitter.png);cursor:pointer;display:inline-block;height:33px;margin:0 0 2px 0;vertical-align:middle;width:33px;}
.subtitulo{font-family:'UniversLTStdLightCn';font-size:25px;}
.copyright{color:#fff;background:#2a2a2a;line-height:45px;}
ul.menu-dias{list-style-type:none;margin:12px 0;padding:0;display:block;overflow:hidden;}
ul.menu-dias li{float:left;}
a.lnk-dom{display:block;overflow:hidden;width:90px;height:47px;background:url(../img/programacao-dias.png) no-repeat;}
a.lnk-dom:hover, a.lnk-domA{background-position:0 -47px;}
a.lnk-seg{display:block;overflow:hidden;width:75px;height:47px;background:url(../img/programacao-dias.png) no-repeat -90px 0;}
a.lnk-seg:hover, a.lnk-segA{background-position:-90px -47px;}
a.lnk-ter{display:block;overflow:hidden;width:74px;height:47px;background:url(../img/programacao-dias.png) no-repeat -165px 0;}
a.lnk-ter:hover, a.lnk-terA{background-position:-165px -47px;}
a.lnk-qua{display:block;overflow:hidden;width:88px;height:47px;background:url(../img/programacao-dias.png) no-repeat -239px 0;}
a.lnk-qua:hover, a.lnk-quaA{background-position:-239px -47px;}
a.lnk-qui{display:block;overflow:hidden;width:74px;height:47px;background:url(../img/programacao-dias.png) no-repeat -327px 0;}
a.lnk-qui:hover, a.lnk-quiA{background-position:-327px -47px;}
a.lnk-sex{display:block;overflow:hidden;width:81px;height:47px;background:url(../img/programacao-dias.png) no-repeat -401px 0;}
a.lnk-sex:hover, a.lnk-sexA{background-position:-401px -47px;}
a.lnk-sab{display:block;overflow:hidden;width:87px;height:47px;background:url(../img/programacao-dias.png) no-repeat -482px 0;}
a.lnk-sab:hover, a.lnk-sabA{background-position:-482px -47px;}
.txt-horario{float:left;width:20%;height:40px;background:#eee;text-align:center;line-height:40px;border-bottom:solid 1px #c1c1c1;}
.txt-nome-prog{float:left;width:80%;height:40px;line-height:40px;border-bottom:solid 1px #c1c1c1;}
.prog-dom{display:block;}
.prog-seg, .prog-ter, .prog-qua, .prog-qui, .prog-sex, .prog-sab{display:none;}
.box-anunciante{font:normal 17px Arial;color:#363636;}
.box-anunciante .txt-tel{display:block;overflow:hidden;padding:0 0 0 30px;background:url(../img/ico-tel.png) no-repeat;line-height:24px;font-size:20px;}
.box-anunciante .txt-email{display:block;overflow:hidden;padding:0 0 0 30px;background:url(../img/ico-mail.png) no-repeat;line-height:24px;font-size:20px;color:#3366ff;}
.btn-anuncie{background-color:#f7941f;width:141px;height:37px;margin:0 20px;}
@media (max-width: 991px)
{
	.btn-anuncie{float:left;margin:0;}
}
.ico-vol{display:inline-block;overflow:hidden;width:22px;height:15px;background:url(../img/ico-vol.png) no-repeat;}
@media (max-width: 991px)
{
	#div-volume, #div-curtir{display:none;}
}

.modal-content{border-radius:0;border-top:solid 4px #ff8a00;border-left:none;border-right:none;border-bottom:none;}
.modal-header{padding:0;border:none;}
.modal-dialog{width:700px;}
@media (max-width: 750px) 
{
	.modal-dialog{width:100%;margin:0;}
}
.ico-close{display:block;width:26px;height:25px;background: url(../img/ico-close.png) no-repeat;}
.modal-title{margin:50px 0 0 60px;font-family:'UniversLTStdLightCn';font-size:30px;font-weight:bold;}
.modal-body{display:block;overflow:hidden;padding:0 65px;}

/* jssor slider bullet navigator skin 21 css */
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
{
	background: url(../img/b21.png) no-repeat;
	overflow:hidden;
	cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }

/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l              (normal)
.jssora21r              (normal)
.jssora21l:hover        (normal mouseover)
.jssora21r:hover        (normal mouseover)
.jssora21ldn            (mousedown)
.jssora21rdn            (mousedown)
*/
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../img/a21.png) center center no-repeat;
	overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21ldn { background-position: -243px -33px; }
.jssora21rdn { background-position: -303px -33px; }

            /* jssor slider bullet navigator skin 05 css */
            /*
            .jssorb05 div           (normal)
            .jssorb05 div:hover     (normal mouseover)
            .jssorb05 .av           (active)
            .jssorb05 .av:hover     (active mouseover)
            .jssorb05 .dn           (mousedown)
            */
            .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
                background: url(../img/b05.png) no-repeat;
                overflow: hidden;
                cursor: pointer;
            }

            .jssorb05 div {
                background-position: -7px -7px;
            }

                .jssorb05 div:hover, .jssorb05 .av:hover {
                    background-position: -37px -7px;
                }

            .jssorb05 .av {
                background-position: -67px -7px;
            }

            .jssorb05 .dn, .jssorb05 .dn:hover {
                background-position: -97px -7px;
            }
			
            /* jssor slider arrow navigator skin 12 css */
            /*
            .jssora12l              (normal)
            .jssora12r              (normal)
            .jssora12l:hover        (normal mouseover)
            .jssora12r:hover        (normal mouseover)
            .jssora12ldn            (mousedown)
            .jssora12rdn            (mousedown)
            */
            .jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
                position: absolute;
                cursor: pointer;
                display: block;
                background: url(../img/a12.png) no-repeat;
                overflow: hidden;
            }

            .jssora12l {
                background-position: -16px -37px;
            }

            .jssora12r {
                background-position: -75px -37px;
            }

            .jssora12l:hover {
                background-position: -136px -37px;
            }

            .jssora12r:hover {
                background-position: -195px -37px;
            }

            .jssora12ldn {
                background-position: -256px -37px;
            }

            .jssora12rdn {
                background-position: -315px -37px;
            }

.div-block{position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;}