@font-face {
    font-family: 'UniversLTStdLightCn';
    src: url('../files/fonts/UniversLTStdLightCn.eot');
    src: url('../files/fonts/UniversLTStdLightCn.eot') format('embedded-opentype'),
         url('../files/fonts/UniversLTStdLightCn.woff2') format('woff2'),
         url('../files/fonts/UniversLTStdLightCn.woff') format('woff'),
         url('../files/fonts/UniversLTStdLightCn.ttf') format('truetype'),
         url('../files/fonts/UniversLTStdLightCn.svg#UniversLTStdLightCn') format('svg');
}
